version: "3.9"

services:
    app:
        build: .
        container_name: divelog-api-php
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
        environment:
            APP_ENV: prod
            APP_DEBUG: 0
            DATABASE_URL: ${DATABASE_URL}

    web:
        image: nginx:stable
        container_name: divelog-api-nginx
        ports:
            - "80:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app

    db:
        image: mysql:8
        container_name: divelog-api-db
        environment:
            MYSQL_DATABASE: ${MYSQL_DATE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        ports:
            - "3306:3306"
        volumes:
            - ./mysql/db_data:/var/lib/mysql

volumes:
    db_data:
